<div class="row">
   <ul class="breadcrumb">
      <li>
         <a href="#/projects">Home</a>
         <span class="divider">/</span>
      </li>
      <li class="active">{{name}}</li>
   </ul>
</div>
<div class="row">
   <div class="span12">
      <!-- Body content -->
      <h2>{{ name }}</h2>
      <table class="table table-bordered table-striped">
         <thead>
            <tr>
               <th>tag</th>
               <th>time in</th>
               <th>notes</th>
               <th>time out</th>
               <th>notes</th>
               <th>length</th>
            </tr>
         </thead>
         <tbody>
						 <!-- for times, we need to (1) store them as ISO8601 formats, and (2) not use 0 as a placeholder -->
            <tr ng-repeat="(key,val) in timestamps">
               <td>{{key}}</td>
							 <!--<td>{{val.in | date:'h:mma on MM/dd/yyyy'}}</td>-->
							 <td>{{ val.in | timeAgo }}</td>
               <td>{{ val.innotes }}</td>
               <!--<td>{{val.out | date:'h:mma on MM/dd/yyyy'}}</td>-->
							 <td>{{ val.out | timeAgo }}</td>
               <td>{{ val.outnotes }}</td>
               <td class="blue">{{ val | timeDiff }}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
